<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="generator" content="cobalt">
        <meta name="description" content="{{site.description}}">
        <link href="/static/images/logo.png" rel="icon" type="image/png">
        <link href="/static/style.css" rel="stylesheet" type="text/css">
        <title>{{site.title}}</title>
        <meta property="og:title" content="{{page.title}}">
        <meta property="og:url" content="{{site.base_url}}/{{page.permalink}}">
        <meta property="og:image" content="{{site.base_url}}/static/images/logo.png">
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:alt" content="A blue shield with a white fork as coat of arms on it.">
        <meta property="og:site_name" content="{{site.title}}">
        <meta property="og:type" content="website">
    </head>
    <body>
        <header>
            <h1>
                <img src="/static/images/logo.png" alt="A blue shield with a white fork as coat of arms on it.">{{site.title}}
            </h1>
            <h2>{{site.description}}</h2>
        </header>
        <main>
            <input type="radio" id="all" name="category" checked><label for="all">All</label>
            {%for c in site.data.categories%}
            <input type="radio" id="{{c.name | remove: " "}}" name="category"><label for="{{c.name | remove: " "}}">{{c.name}}</label>
            {%endfor%}
            {%for e in site.data.entries%}
            <article class="{{e.category | remove: " "}}"><a href="{{e.link}}"><img src="/static/images/{{e.img.file}}" alt="{{e.img.description}}">{{e.name}}</a></article>
            {%endfor%}
        </main>
        <footer>
            <a href="https://codeberg.org/KitchenTools/site">Source code </a> and <a href="https://codeberg.org/KitchenTools/site/src/branch/main/LICENSE"> license</a>
            <br>
            © KitchenTools
        </footer>
    </body>
</html>
