---
permalink: "/static/style.css"
---

body {
    max-width: 40rem;
    margin: auto;
    padding: 2.4rem;
    font-family: sans-serif;
    color: #252525
}

p {
    font-family: serif;
    line-height: 1.5
}

a {
    color: #3199dc
}
a:visited {
    color: #555
}
a:hover, a:focus {
    color: #ff66ff;
}
a:active {
    color: #ff00ff;
    text-decoration: none
}
a:focus {
    outline: solid #ff66ff 0.2rem
}
article a:focus {
    outline: none;
    border: outset 0.7rem #ff66ff
}

footer {
    padding-top: 2.0rem;
    text-align: center
}

img {
    vertical-align: middle
}
header img { width: 3rem }
article img {
    width: 25%;
    padding: 0.2rem;
    padding-right: 1rem;
}

article { display: none }

article a {
    display: block;
    border-radius: 0.5rem;
    border: solid 0.5rem #3199dc;
    margin-top: 1.5rem;
    font-size: 1.8rem
}

#all:checked ~ article { display: block }
{%for c in site.data.categories%}
#{{c.name | remove: " "}}:checked ~ .{{c.name | remove: " "}} { display: block }
{%endfor%}
input {
    appearance: none;
    -webkit-appearance: none;
    -moz-apperance: none
}

label {
    user-select: none;
    border-radius: 0.2rem;
    font-weight: bold;
    font-size: 1.2rem
}

input:checked + label { background-color: #ff66ff; }
input:focus + label, input:hover + label { border: solid 0.2rem #ff66ff }
input:active + label {
    background-color: #ff00ff;
    border-color: #ff00ff
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background: #252525
    }
}

@media screen and (max-width: 450px) {
    body { padding: 1rem }
    h1 { font-size: 1.3rem }
    h2 { font-size: 1.2rem }
    article a { font-size: 1rem }
}
